 /* Les Class */

 .bold{
    font-weight: 700;
    color: var(--white);
 }
 
 .imgAbout{
     height: auto;   
     min-height: 300px;
     width: 100%;  
 } 
 

 .titreProgrammation{
     width: 100%;
 }
 
 .gallery{
     display: flex;
     justify-content: center;
     flex-wrap: nowrap; 
 }
 
 .blocGallery{
 
    position: relative;
    display: flex;
    max-height: 250px;
    max-width: 200px;

 }

 .imgProgrammation{
    margin-top: 10px;
    height: auto;
    width: 100%;

 }
 
 .btnGallery
 {
     background-color: var(--transparentBackgroundDiv);
     position: absolute;
     bottom: 0px;
     height: 50px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .btnGallery button, .linkReservation
 {
 background-color: var(--colorLink);
 width: 100px;
 height: 35px;
 border: 1px solid var(--colorLink);
 border-radius: 10px;
 color: var(--white);
 font-size: 0.7em;
 }
 
 .btnGallery button:hover
 {
     cursor: pointer;
 }
 
 .locationBlockLeft{
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
 } 
 
  .locationBlockRight{
     flex: 1;
     max-width: 60%;
  }
 
  .linkReservation{
     position: absolute;
     height: 60px;
     width: 120px;
     padding: 5px;
     text-align: center;
     margin-bottom: 100px;
     right:0px; 
     top: 10px;
  }
 
  .iconLocation{
     height: 100%;
     min-width: 350px;
  }
 


     /* Les ID */

#about{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 1%;
    max-height: 400px;
    overflow: hidden;
}
#blockAbout p{
    text-align: justify;
}

#titleAbout{
    display: flex;
    align-items: center;
 }


 #titleAbout img{
    width: 100px;
    height: 100%;
 }


#location{
    display: flex;
    justify-content: space-evenly;
}

#programmation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 100%;
    margin-bottom: 50px;
    padding: 3%;
}

/*Responsif design*/

@media screen and (max-width: 992px)
{
    .imgAbout{
 
        min-height: none;
        max-height: 200px;
        width: 200px;  
        object-fit: cover;

    } 

    #about{
    
        max-height: 300px;
        overflow: hidden; 
        font-size: 0.8em;
    }

    #location{
       /* border: 2px solid firebrick; */
       height: auto;

    }

    .iconLocation{
        height: 75%;
        min-width: 50px;
     }

     .locationBlockRight{
        max-width: 60%;
     }
}

@media screen and (max-width: 768px)
{


}

@media screen and (max-width: 420px)
{


}