* {
    font-family: 'Open Sans', sans-serif; 
    box-sizing: border-box;

    /*Padding & Margin*/
    padding: 0px;
    margin: 0px;
    
   /*variable de couleurs */

    --backgroundHTML : #aca6a5;
    --backgroundDiv :#262f36 ;
    --transparentBackgroundDiv : #262f36db;
    --hyperTransparentBackgroundDiv : #262f3683;
    --colorPrimary :#d87152 ;
    --colorSecond : #000000; 
    --colorExtra : #aca6a5 ;
    --colorTitle : #d3935b;
    --colorLink: #f18336;
    --white : #ffffff;
}

body{
    background-color: var(--backgroundHTML);
     width: 100vm;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    width: 100%;
    position: relative;
}
main{
    width: 90%;
    align-self: center;
    padding-bottom: 30px; 
    background-color: var(--white);
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--backgroundDiv);
    width: 100%;
    padding: 30px;
}
footer a{
    font-size: 1em;
    font-weight: 400;
}
footer p{
    font-size: 1.5em;
}

   /*Les Titres & Les Liens */
h1{
    font-size: 2em;
    color: var(--white);
    text-align: center;
}
h2{
    color: var(--colorPrimary);
    line-height: 30px;
    margin-bottom: 10px;
}
h3{
    color: var(--colorTitle);
}

   /* Les Balises */
a{
    font-weight: 700;
    font-size: 1.5em;
}
a:active{
    color: var(--colorLink);
}

ul, li, a {
    text-decoration: none;
    list-style-type: none;  
    margin-left: 10px;
    color: var(--white);
}

article{
    background-color: var(--white);
    padding: 1%; 
    min-height: 300px;
}

section{
    max-height: 400px;
}

    /* Les Class */

.listInLine li{
    display: inline-block;
    margin : 0 10px 0 10px;
}

.heroText a h1{
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.imgProgrammation{
    width: 200px;
    height :250px;
    -o-object-fit: cover;
       object-fit: cover;
}

.bold{
    font-weight: 700;
    color: var(--white);
    margin-bottom: 5px;
}


     /* Les ID */

#heroImage{
    height: 300px;
    background-image: url("../assets/images/HERO.png");
    background-size: cover;
}


#navigation {

    display: flex;
    justify-content: flex-end;
    position: absolute;
    align-items: center;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    padding: 20px;
    background-color: var(--transparentBackgroundDiv);
}

#navigation a:hover, .active{
    color: var(--colorLink);
}
