* {
    font-family: 'Open Sans', sans-serif; 
    box-sizing: border-box;

    /*Padding & Margin*/
    padding: 0px;
    margin: 0px;
    
   /*variable de couleurs */

    --backgroundHTML : #aca6a5;
    --backgroundDiv :#262f36 ;
    --transparentBackgroundDiv : #262f36db;
    --colorPrimary :#d87152 ;
    --colorSecond : #000000; 
    --colorExtra : #aca6a5 ;
    --colorTitle : #d3935b;
    --colorLink: #f18336;
    --white : #ffffff;
}

body{
    background-color: var(--backgroundHTML);
    width: 100vm;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    width: 100%;
    position: relative;
 
    
}
main{
    width: 90%;
    flex : 2;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px; 
    background-color: white;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--backgroundDiv);
    width: 100%;
    padding: 30px;
}
footer a{
    font-size: 1em;
    font-weight: 400;
}
footer p{
    font-size: 1.5em;
}

   /*Les Titres & Les Liens */
h1{
    font-size: 2em;
    color: var(--white);
    text-align: center;
}
h2{
    color: var(--colorPrimary);
    line-height: 30px;
    margin-bottom: 10px;
}
h3{
    color: var(--colorTitle);
}

   /* Les Balises */
a{
    font-weight: 700;
    font-size: 1.5em;
}
a:active{
    color: var(--colorLink);
}

ul, li, a {
    text-decoration: none;
    list-style-type: none;  
    margin-left: 10px;
    color: var(--white);
}

article{
    background-color: var(--white);
    padding: 1%;
  
    min-height: 300px;
}

section{
    max-height: 400px;
}

   /* Les Class */

.bold{
   font-weight: 700;
   color: var(--white);
}
.listInLine li{
    display: inline-block;
    margin : 0 10px 0 10px;
}

.imgAbout{
    height: 100%;   
    min-height: 300px;
    width: 100%;  
} 

.heroText h1{
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.imgProgrammation{
    width: 200px;
    height :250px;
    object-fit: cover;
}

.titreProgrammation{
    width: 100%;
}

.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; 
}

.blocGallery{

   position: relative;
   display: flex;
}

.btnGallery
{
    background-color: var(--transparentBackgroundDiv);
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnGallery button, .linkReservation
{
background-color: var(--colorLink);
width: 100px;
height: 35px;
border: 1px solid var(--colorLink);
border-radius: 10px;
color: var(--white);
font-size: large;
}

.btnGallery button:hover
{
    cursor: pointer;
}

.locationBlockLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} 

 .locationBlockRight{
    flex: 1;
    max-width: 60%;
 }

 .linkReservation{
    position: absolute;
    height: 60px;
    width: 120px;
    padding: 5px;
    text-align: center;
    margin-bottom: 100px;
    right:0px; 
    top: 10px;
 }

 .linkReservation a{
    font-size:16px;
 }

 .iconLocation{
    height: 100%;
    min-width: 350px;
 }

   /* Les ID */

#heroImage{

height: 300px;
background-image: url("../assets/images/HERO.png");
background-size: cover;

}

#navigation {

    display: flex;
    justify-content: flex-end;
    position: absolute;
    align-items: center;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    padding: 20px;
    background-color: var(--transparentBackgroundDiv);
}

#about{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 1%;
    max-height: 400px;
    overflow: hidden;
}

#location{
    display: flex;
    justify-content: space-evenly;
}

#programmation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 100%;
    margin-bottom: 50px;
    padding: 3%;
}

#blockAbout p{
    text-align: justify;
}